<!DOCTYPE html>
<html>
  <head>
    <title>Chef d'oeuvre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.lairdubois.fr%2Fmedia%2Fcache%2F282x280o%2Facb376f44e56631007300753149d0f0207f90970.png&f=1&nofb=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
